{% extends 'main.html' %}

{% load static %}<!-- End Header -->
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>Личный кабинет</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="user_container">
        <div class="user_info">
          <div class="user_avatar">
            <img src="{{user.avatar.url}}">
          </div>
          <div class="user_name">{{user.name}}</div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock content %}