{% extends 'main.html' %}

{% load static %}<!-- End Header -->
{% block content %}
<body style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);">
<div class="row">
  <div class="col-lg-7 mx-auto text-white text-center pt-5">
      <h1 class="display-4"> </h1>
      <p class="lead mb-0"></p>

  </div>
</div><!-- End -->


<div class="row py-5 px-4">
  <div style="width: 70%;" class="col-xl-4 col-md-6 col-sm-10 mx-auto">

      <!-- Profile widget -->
      <div class="bg-white shadow rounded overflow-hidden">
          <div style="background-color: #1D1D1B;" class="px-4 pt-0 pb-4 bg-dark">
              <div  class="media align-items-end profile-header">
                  <div class="profile mr-3"><img style="margin-top: 40px;" src="{{user.avatar.url}}" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                  <div class="media-body mb-5 text-white">
                      <h4 class="mt-0 mb-0">{{user.name}}</h4>
                      <p class="small mb-4"> Количество работ {{coun}}</p>
                  </div>
              </div>
          </div>

          <div class="py-4 px-4">
              <div class="d-flex align-items-center justify-content-between mb-3">
                  <h5 class="mb-0">Ваши работы</h5><a href="#" class="btn btn-link text-muted"></a>
              </div>
              <div class="row">
                {% for i in user.artworks.all %}
                  <div class="col-lg-6 mb-2 pr-lg-1"><img src="{{ i.face.url }}" alt="" class="img-fluid rounded shadow-sm"></div>
                  <a href="{% url 'artwork' i.id %}" style="text-align: left;" class="btn btn-link text-muted">{{i.name}}</a>
                {% endfor %}
              </div>
              
          </div>
      </div><!-- End profile widget -->

  </div>
</div>
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

  <div class="carousel-item active" style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);"></div>




</div>
</body>
{% endblock content %}