{% extends 'main.html' %}

{% load static %}<!-- End Header -->
{% block content %}



  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5 artwork_main">

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <img src="{{artwork.face.url}}" alt="" class="img-fluid">
              </div>

              <h2 class="title">{{artwork.name}}</h2>


              <div class="content">
                <p>
                  {{artwork.description}}  
                </p>
                {% if artwork.uncompressed_img %}
                <a download href="{{artwork.uncompressed_img.url}}">Оригинальное изображение</a>
                {% endif %}
                {% if artwork.object3d %}
                <h3>3D Просмотр:</h3>
                <model-viewer class="model_viewer" alt="3D model view" src="{{artwork.object3d.url}}" ar shadow-intensity="1" camera-controls touch-action="pan-y"></model-viewer>
                {% endif %}
              </div><!-- End post content -->

              <button class="btn btn-primary" onclick="alert('Функция в разработке :З');">Поддержать автора <3</button>
            </article>
            <!-- End blog post -->
            {% for i in usr %}
            <div class="blog-details post-author d-flex align-items-center">
              <img src="{{i.avatar.url}}" class="rounded-circle flex-shrink-0" alt="">
              <div>
                <h4>{{i.name}}</h4>
              </div>
            </div><!-- End post author -->
            {% endfor %}
            <div class="comments blog-details">
              <div id="commentSection">
              {% include "artwork_comments.html" %}
              </div>

              <div class="reply-form">
                {% csrf_token %}
                  <textarea name="comment" class="form-control" placeholder="Ваш комментарий" id="commentArea" style="margin-bottom:10px;"></textarea>
                  <button onclick="sendComment({{artwork.id}});" class="btn btn-primary">Оставить комментарий</button>
                </form>

              </div>

            </div><!-- End blog comments -->

          </div>


              

            </div><!-- End Blog Sidebar -->

          </div>
        </div>

      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->


  {% endblock content %}


