{% extends 'main.html' %}

{% load static %}<!-- End Header -->
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Blog</h2>
 
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">

          <div class="col-xl-4 col-md-6">
            {% for artwork in artworks %}
            <div class="post-item position-relative h-100" onclick="location.href='{% url 'artwork' artwork.id %}';" style="cursor: pointer;">
              <div class="post-img position-relative overflow-hidden">
                <img src="{{artwork.face.url}}" class="img-fluid" alt="">
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title">{{artwork.name}}</h3>

                {% if artwork.users.all %}
                <div class="meta d-flex align-items-center">
                  {% for user in artwork.users.all %}
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">{{user.name}}</span>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
                <p>
                  {{artwork.description}}
                </p>

                <hr>


              </div>

            </div>
          </div><!-- End post list item -->
          {% endfor %}

        </div><!-- End blog posts list -->



      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->



  {% endblock content %}