{% extends 'main.html' %}

{% load static %}<!-- End Header -->
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        
        
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 posts-list">
              {% for exhibition in exe %}
              <div class="col-xl-4 col-md-6">
                
                <div class="post-item position-relative" style="">
                  <div class="post-img position-relative overflow-hidden">
                    <img src="{{exhibition.face.url}}" class="img-fluid" alt="">
                  </div>
    
                  <div class="post-content d-flex flex-column">
    
                    <h3 class="post-title">{{exhibition.title}}</h3>
    
                    <div class="meta d-flex align-items-center">  
                      <div class="d-flex align-items-center">
                         <span class="ps-2">Начало: {{exhibition.date_start}} <br>Конец: {{exhibition.date_end}}</span>
                      </div>
                    </div>
                    <p>
                      {{exhibition.description}}
                    </p>
                    {% if user %}
                    <div id="like_button{{exhibition.id}}" {% if exhibition in user.favorite.all %} class="main-block__button__liked" {% else %} class="main-block__button" {% endif %} data-catid="{{exhibition.id}}" onclick="event.cancelBubble=true;MyClickExhibition({{exhibition.id}});"></div>
                    {% endif %}
                  </div>
                  <button style="margin: 10px;" onclick="alert('Функция в разработке :З');" class="btn btn-primary">Принять участие</button>
                </div>
                
              </div><!-- End post list item -->
              {% endfor %}
    
            </div><!-- End blog posts list -->
    
    
    
          </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->



  {% endblock content %}