{% extends 'main.html' %}

{% load static %}<!-- End Header -->
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down"> <span>НЕЙМАРК</span></h2>
            <p data-aos="fade-up">Межвузовский кампус мирового уровня в Нижнем Новгороде</p>
            <a data-aos="fade-up" data-aos-delay="200" href="{% url 'art_works' %}" class="btn-get-started">Галерея работ</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);"></div>




    </div>

 
  {% endblock content %}