{% extends 'main.html' %}

{% load static %}
{% block content %}

<form action="{% url 'login'%}" class="registration-cssave__form" method = "post" novalidate>
    {% csrf_token %}
    <div class = "form-group"><p>
        <label class = "form-label" for="{{ form.login.id_for_label}}">{{form.login.label}}:  </label>
        {{form.login}}</p>
    </div>
    <div class = "">{{form.login.errors}}</div>
    <div class = ""><p><label class = "form-label" for="{{ form.password.id_for_label}}">{{form.password.label}}:  </label>{{form.password}}</p></div>
    <div class = "">{{form.password.errors}}</div>
    <div class = "">
        <button class="login_button">Войти</button>
    </div>
</form>

{% endblock content %}