{% extends 'main.html' %}

{% load static %}<!-- End Header -->
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <form action="{% url 'regist'%}" class="registration-cssave__form" method = "post" novalidate>
                {% csrf_token %}
                <div class = "form-group"><p>
                    <label class = "form-label" for="{{ form.login.id_for_label}}">Логин:  </label>
                    {{form.login}}</p>
                
                <div class = "">{{form.login.errors}}</div>
                <div class = ""><p><label class = "form-label" for="{{ form.password.id_for_label}}">Пароль:  </label>{{form.password}}</p></div>
                <div class = "">{{form.password.errors}}</div>
                <a class = "form-label-a" href="{% url 'regist' %}">Зарегестрироваться?</a>
                <div class = "">
                    <button class="login_button">Войти</button>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background: linear-gradient(120deg, rgba(0,78,168,1) 0%, rgba(255,83,56,1) 100%);"></div>




    </div>

 
  {% endblock content %}